<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18b8b964-cf7a-46b3-b926-98716f5b533c/resourceGroups/eecictapi_group-a77a/providers/Microsoft.Web/sites/eecictapi</ResourceId>
    <ResourceGroup>eecictapi_group-a77a</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eecictapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>eecictapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eecictapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$eecictapi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EEC_ICT" Order="2" Enabled="False">
          <Destination Path="Data Source=eec-database.database.windows.net;Initial Catalog=EEC_ICT;User ID=eec;Password=sa@123456" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=eec-database.database.windows.net;Initial Catalog=EEC_ICT;Persist Security Info=True;User ID=eec;Password=sa@123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EEC_ICT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=eec-database.database.windows.net;Initial Catalog=EEC_ICT;Persist Security Info=True;User ID=eec;Password=sa@123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EEC_ICT-Web.config Connection String">
      <ParameterValue>Data Source=eec-database.database.windows.net;Initial Catalog=EEC_ICT;User ID=eec;Password=sa@123456</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QLCanBoHauCan-Web.config Connection String">
      <ParameterValue>Data Source=eec-database.database.windows.net;Initial Catalog=EEC_ICT;Persist Security Info=True;User ID=eec;Password=sa@123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>